<div class="user_wrapper">
  <div class="user__main">
    新規登録

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"ユーザーネーム" %> <em>(6文字以内)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>


      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :"もう一度パスワードを入力" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
    <% end %>
  </div>

    SNSアカウントで登録<br/>
  <%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
    <div class="facebook-icon">
      <i class="fab fa-facebook-square"></i>
      Sign in with Facebook
    </div>
  <% end %>
  <br/>
  <%= link_to image_tag("/assets/images/btn_google_signin_light_focus_web@2x.png" , width: "200" ), user_google_oauth2_omniauth_authorize_path, method: :post %>
</div>