<% if user_signed_in? %>
  <% if place.plike_user(current_user.id) %>
    <%= button_to place_plike_path(place, place_id: place.id), method: :delete, id: "plike-button", remote: true do %>
      <i class="fas fa-heart"></i>
      <span>
        <%= place.plikes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to place_plikes_path(place), id: "plike-button__none",method: :post, remote: true do %>
      <i class="fas fa-heart"></i>
      <span>
        <%= place.plikes_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= button_to root_path,method: :get, remote: true, id: "plike-button__none" do %>
    <i class="fas fa-heart blue"></i>
      <span>
        <%= place.plikes_count %>
      </span>
  <% end %>    
<% end %>