<div class="header__back">
<%# ヘッダーに使っている画像コーナー %>
  <div class="header__image">
    <div id="photo">
      <img src="/cafe1.jpg" width="600" height="400" alt="">
      <img src="/cafe2.jpg" width="600" height="400" alt="">
      <img src="/cafe3.jpg" width="600" height="400" alt="">
    </div>
  </div>
</div>

<div class="main">
<%# メインコンテンツコーナー %>
  <div class="main__left">
<%# タブ選択肢ボタンの記述 %>  
    <div class="main__left__tag">
      <div class="main__left__title active">
        <p id="place",class="place-text menu-item" >PLACE
          <i class="open-place icon fas fa-pencil-alt"></i>
      </div>
    
      <div class="main__left__title">
        <p id="music",class="music-text menu-item" >MUSIC
          <i class="open-music icon fas fa-pencil-alt"></i>
      </div>

      <div class="main__left__title">
        <p id="mypage",class="menu-item" >マイページ
        <a href="#"><i class="icon fas fa-cog"></i></a>
      </div>
    </div>
<%# タブ選択肢ボタンの記述ここまで %>

<%# PLACEタブ内の記述(デフォルトはここを表示) %>
    <div class="main__left__contents show">
      <% @places.each do |place| %>
        <div class="main__left__content place__show">
          <img class="content__img" src="<%= place.image %>" >
          <p class="content content__store"><%= place.name %>
          <p clas="content content__address">〒<%= place.address %>
        </div>
      <% end %>
    </div>
<%# PLACEタブ内の記述ここまで %>    

<%# MUSICタブ内の記述 %>
    <div class="main__left__contents">
      <% @musics.each do |music| %>
      <div class="main__left__content">
        <div class="youtube content__movie">
          <iframe data-src="<%= music.url %>"></iframe>
        </div>
        <p class="content content__title"><%= music.name %>
        <p class="content content__star"><%= music.address %>
      </div>
      <% end %>
    </div> 
<%# MUSICタブ内の記述ここまで %>

<%# マイページタブ内の記述 %>
    <div class="main__left__contents">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"user__destroy" %>
    </div>
<%# マイページタブ内の記述ここまで %>
  </div>


<%# まだ何に使うか決めていないゾーン %>
  <div class="main__right">
    <div class="main__right__about">
      人気のスポット
        <div class="main__right__popular">
    </div>
  </div>
<%# まだ何に使うか決めていないゾーンここまで %>
</div>
<%# メインコンテンツコーナー終了 %>

<%# 投稿機能モーダルここから %>
<script>
$(function(){
  $('.open-place').click(function(){
    $("body").append(` <div class="modal">
                        <div class="close">×</div>
                        <div class="new-post">新規投稿(PLACE)<br></div>
                        <div class="modal-form">
                          <%= form_with(model: @place,action:"/places",local: true) do |form| %>
                            <p>店のイメージ画像を入力してね(URL)</p>
                            <%= form.text_field :image, placeholder:"イメージ写真のURLを入力", class: :form_control %>
                            <p>店の名前を入力してね</p>
                            <%= form.text_field :name, placeholder:"店名を入力",class: :form_control %>
                            <p>店の住所を入力してね</p>
                            <%= form.text_field :address, placeholder:"住所を入力", class: :form_control %>
                            <p>店の詳細を教えてね</p>
                            <%= form.text_area :content, placeholder:"情報を入力" ,rows:"8", class: :form_control_area %> <br>
                            <%= form.submit "送信する", id: "submit-btn" %>
                          <% end %>
                        </div>
                      </div>
                      <div class="overlay"></div>'`);
    $(".modal,.overlay").fadeIn("slow");
    $(".close,.overlay,#submit-btn").click(function(){
      $(".modal,.overlay").fadeOut("slow",function(){
      $(".modal,.overlay").remove();
      });
    });
  });

  $('.open-music').click(function(){
  $("body").append(` <div class="modal">
                      <div class="close">×</div>
                      <div class="new-post">新規投稿(MUSIC)<br></div>
                      <div class="modal-form">
                        <%= form_with(model: @music,action:"/musics",local: true) do |form| %>
                          <p>YouTubeのURLを教えてね(URL)</p>
                          <%= form.text_field :url, placeholder:"YouTubeのURLを入力", class: :form_control %>
                          <p>楽曲(動画)のタイトルを教えてね</p>
                          <%= form.text_field :name, placeholder:"楽曲(動画)のタイトルを入力",class: :form_control %>
                          <p>再生時間を教えてね</p>
                          <%= form.text_field :address, placeholder:"再生時間を入力", class: :form_control %>
                          <p>動画の詳細を教えてね</p>
                          <%= form.text_area :content, placeholder:"動画の情報を入力" ,rows:"8", class: :form_control_area %> <br>
                          <%= form.submit "送信する", id: "submit-btn" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="overlay"></div>'`);
  $(".modal,.overlay").fadeIn("slow");
  $(".close,.overlay,#submit-btn").click(function(){
    $(".modal,.overlay").fadeOut("slow",function(){
    $(".modal,.overlay").remove();
      });
    });
  });
// 投稿機能モーダルここまで

// 店の詳細ページモーダルここから
  $('.place__show').click(function(){
  $("body").append(` <div class="modal">
                      <div class="modal__css">
                        <div class="close">×</div>
                        <div class="new-post"><<%= @place.name %><br></div>
                        <p>googlemap
                        // <iframe src="googlemapに相当するもの" class="map">
                        <p>営業時間：<%= @place.openhour %>〜<%= @place.closehour %>
                        <p>住所：<%= @place.address %>
                        <p>電話番号：<%= @place.number %>
                        <p>席数：<%= @place.siet %>
                        <ul class="squere">
                          <li class="squere wifi">Wi-Fi</li>
                          <li class="squere plug">電源/li>
                          <li class="relux">落ち着いた空間/li>
                          <li class="near">駅チカ/li>
                          <li class="night"> 深夜/li>
                        </ul>
                      </div>
                    </div>
                    <div class="overlay"></div>'`);
});
</script>

  //完成したらこれを貼り付ける 
  // $("body").append(` <div class="modal">
  //                     <div class="modal__css">
  //                       <div class="close">×</div>
  //                       <div class="new-post"><<%= @place.name %><br></div>
  //                       <p>googlemap
  //                       // <iframe src="googlemapに相当するもの" class="map">
  //                       <p>営業時間：<%= @place.openhour %>〜<%= @place.closehour %>
  //                       <p>住所：<%= @place.address %>
  //                       <p>電話番号：<%= @place.number %>
  //                       <p>席数：<%= @place.siet %>
  //                       <ul class="squere">
  //                         <li class="squere wifi">Wi-Fi</li>
  //                         <li class="squere plug">電源/li>
  //                         <li class="relux">落ち着いた空間/li>
  //                         <li class="near">駅チカ/li>
  //                         <li class="night"> 深夜/li>
  //                       </ul>
  //                     </div>
  //                   </div>
  //                   <div class="overlay"></div>'`);