<div class="header__back">
<%# ヘッダーに使っている画像 %>
  <div class="header__image">
    <div id="photo">
      <img src="/cafe1.jpg" width="600" height="400" alt="">
      <img src="/cafe2.jpg" width="600" height="400" alt="">
      <img src="/cafe3.jpg" width="600" height="400" alt="">
    </div>
  </div>
</div>

<div class="main">
<%# メインコンテンツ %>
  <div class="main__left">
    <%# タブボタンの記述 %>  
    <div class="main__left__tag">
      <div class="main__left__title active">
        <p id="place",class="place-text menu-item" >PLACE
          <i class="open-place icon fas fa-pencil-alt"></i>
      </div>
    
      <div class="main__left__title">
        <p id="music",class="music-text menu-item" >MUSIC
          <i class="open-music icon fas fa-pencil-alt"></i>
      </div>

      <div class="main__left__title">
        <p id="mypage",class="menu-item" >マイページ
        <a href="#"><i class="icon fas fa-cog"></i></a>
      </div>
    </div>
    <%# タブボタンの記述ここまで %>

    <%# PLACEタブ内の記述(showクラスによってデフォルトはここを表示) %>
    <div class="main__left__contents show">
      <% @places.each do |place| %>
        <div class="main__left__content place__show" 
        data-pname="<%= place.name %>" data-address="<%= place.address %>"
        data-open="<%= place.open %>" data-close="<%= place.close %>" 
        data-number="<%= place.number %>" data-sheet="<%= place.sheet %>"
        data-content="<%= place.content %>" data-station="<%= place.station %>" data-walk="<%= place.walk %>" 
        data-pcheckbox="<% place.ptags.each do |ptag| %> 
                        <div class='check-icon'> <%= ptag.name %> </div> 
                      <% end %>" >
          <img class="content__img" src="<%= place.image %>" >
          <%= render partial:"/plikes/plike",locals: { place: place } %>
          <p class="content content__store"><%= place.name %>
          <p class="content content__address"><%= place.address %>
          <p class="content content__open">営業時間：<%= place.open %> 〜 <%= place.close %>
          <p class="content content__station">最寄り駅：<%= place.station %> <%= place.walk %>
        </div>
      <% end %>
    </div>
    <%# PLACEタブ内の記述ここまで %>    

    <%# MUSICタブ内の記述 %>
    <div class="main__left__contents">
      <% @musics.each do |music| %>
      <div class="main__left__content music__show"
        data-mname="<%= music.name %>" data-url="<%= music.url %>" data-artist="<%= music.artist %>"
        data-playtime="<%= music.playtime %>" data-mcontent="<%= music.content %>" >
        <a href="#"><i class="icon fas fa-cog music-show"></i></a>
        <div class="youtube content__movie">
          <iframe data-src="<%= music.url %>"></iframe>
        </div>
        <%= render partial:"/mlikes/mlike",locals: { music: music } %>
        <div class="mshow">
          <p class="content content__title"><%= music.name %>
          <p class="content content__artist">アーティスト：<%= music.artist %>
          <p class="content content__playtime">再生時間：<%= music.playtime %>
        </div>
      </div>
      <% end %>
    </div> 
    <%# MUSICタブ内の記述ここまで %>

    <%# マイページタブ内の記述 %>
    <div class="main__left__contents">
      <%# マイページタブ内のタグの記述 %>
      <div class="mypage__tag">
        <div class="mypage__tag__title myactive">
          <p id="myplace",class="myplace-text menu-item" >PLACE投稿履歴
        </div>

        <div class="mypage__tag__title">
          <p id="mymusic",class="mymusic-text menu-item" >MUSIC投稿履歴
        </div>

        <div class="mypage__tag__title">
          <p id="likeplace",class="likeplace-text menu-item" >PLACEお気に入り
        </div>

        <div class="mypage__tag__title">
          <p id="likemusic",class="likemusic-text menu-item" >MUSICお気に入り
        </div>
      </div>
      <%# マイページタブ内のタグの記述ここまで %>
      <% if user_signed_in? %>
        <%# PLACE投稿履歴の記述(showクラスによってデフォルトはここを表示) %>
        <div class="mypage__contents myshow">
          <% @myplaces.each do |myplace| %>
            <div class="mypage__content place__show" data-pname="<%= myplace.name %>" 
            data-address="<%= myplace.address %>"
            data-open="<%= myplace.open %>" data-close="<%= myplace.close %>" 
            data-number="<%= myplace.number %>" data-sheet="<%= myplace.sheet %>"
            data-content="<%= myplace.content %>" data-station="<%= myplace.station %>" data-walk="<%= myplace.walk %>" 
            data-pcheckbox="<% myplace.ptags.each do |ptag| %> 
                              <div class='check-icon'> <%= ptag.name %> </div> 
                            <% end %>" >
              <img class="content__img" src="<%= myplace.image %>" >
              <p class="content content__store"><%= myplace.name %>
              <p class="content content__address"><%= myplace.address %>
              <p class="content content__open">営業時間：<%= myplace.open %> 〜 <%= myplace.close %>
              <p class="content content__station">最寄り駅：<%= myplace.station %> <%= myplace.walk %>
            </div>
          <% end %>
        </div>
        <%# PLACE投稿履歴記述ここまで %>
        <%# MUSIC投稿履歴記述 %>
        <div class="mypage__contents">
          <% @mymusics.each do |mymusic| %>
            <div class="mypage__content music__show" 
        data-mname="<%= mymusic.name %>" data-url="<%= mymusic.url %>" data-artist="<%= mymusic.artist %>"
        data-playtime="<%= mymusic.playtime %>" data-mcontent="<%= mymusic.content %>">
              <div class="youtube content__movie">
                <iframe data-src="<%= mymusic.url %>"></iframe>
              </div>
              <div class="mshow">
                <p class="content content__title"><%= mymusic.name %>
                <p class="content content__artist">アーティスト：<%= mymusic.artist %>
                <p class="content content__playtime">再生時間：<%= mymusic.playtime %>
              </div>
            </div>
          <% end %>
        </div>
        <%# MUSIC投稿履歴記述ここまで %>
        <%# PLACE投稿お気に入り記述 %>
        <div class="mypage__contents">
        <% if @likeplaces %>
          <% @likeplaces.each do |likeplace| %>
            <div class="mypage__content place__show" data-pname="<%= likeplace.name %>" 
            data-address="<%= likeplace.address %>"
            data-open="<%= likeplace.open %>" data-close="<%= likeplace.close %>" 
            data-number="<%= likeplace.number %>" data-sheet="<%= likeplace.sheet %>"
            data-content="<%= likeplace.content %>" data-station="<%= likeplace.station %>" data-walk="<%= likeplace.walk %>" 
            data-pcheckbox="<% likeplace.ptags.each do |ptag| %> 
                              <div class='check-icon'> <%= ptag.name %> </div> 
                            <% end %>" >
              <img class="content__img" src="<%= likeplace.image %>" >
              <p class="content content__store"><%= likeplace.name %>
              <p class="content content__address"><%= likeplace.address %>
              <p class="content content__open">営業時間：<%= likeplace.open %> 〜 <%= likeplace.close %>
              <p class="content content__station">最寄り駅：<%= likeplace.station %> <%= likeplace.walk %>
            </div>
          <% end %>
        <% else %>
        <p>お気に入りはありません
        <% end %>
        </div>
        <%# PLACEお気に入り記述ここまで %>
        <%# MUSICお気に入り記述 %>
        <div class="mypage__contents">
          <% if @likemusics %>
          <% @likemusics.each do |likemusic| %>
            <div class="mypage__content music__show" 
        data-mname="<%= likemusic.name %>" data-url="<%= likemusic.url %>" data-artist="<%= likemusic.artist %>"
        data-playtime="<%= likemusic.playtime %>" data-mcontent="<%= likemusic.content %>">
              <div class="youtube content__movie">
                <iframe data-src="<%= likemusic.url %>"></iframe>
              </div>
              <div class="mshow">
                <p class="content content__title"><%= likemusic.name %>
                <p class="content content__artist">アーティスト：<%= likemusic.artist %>
                <p class="content content__playtime">再生時間：<%= likemusic.playtime %>
              </div>
            </div>
          <% end %>
        <% else %>
        <p>お気に入りはありません
        <% end %>
        </div>
        <%# MUSICお気に入り記述ここまで %>

      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"user__destroy" %>
    <%# マイページタブ内の記述ここまで %>
    <% else %>
      <p>ログインすると使えるようになるよ！
    <% end %>
  </div>
</div>
<%# main__leftの記述ここまで %>

<%# main__rightの記述 %>
  <%# 人気ランキング的なものにしたいゾーン %>
  <div class="main__right">
    <div class="main__right__top">
    <p class="main__right__about">お気に入りランキング<p>
    </div>
    <%# ランキングのPLACE、MUSICのタブゾーン %>
    <div class="main__right__tag">
      <div class="main__right__title rankactive">
        <p id="rankplace",class="rankplace-text" >PLACE
      </div>
      <div class="main__right__title">
        <p id="rankmusic",class="rankmusic-text" >MUSIC
      </div>
    </div>
    <%# ランキングのPLACE、MUSICのタブゾーンここまで %>
    <%# PLACEの人気ランキングゾーン %>
    <div class="main__right__contents rankshow">
      <% @rankplaces.each do |rankplace| %>
        <div class="main__right__content place__show" 
          data-pname="<%= rankplace.name %>" data-address="<%= rankplace.address %>"
          data-open="<%= rankplace.open %>" data-close="<%= rankplace.close %>" 
          data-number="<%= rankplace.number %>" data-sheet="<%= rankplace.sheet %>"
          data-content="<%= rankplace.content %>" data-station="<%= rankplace.station %>" data-walk="<%= rankplace.walk %>" 
          data-pcheckbox="<% rankplace.ptags.each do |ptag| %> 
                            <div class='check-icon'> <%= ptag.name %> </div> 
                          <% end %>" >
          <img class="content__img" src="<%= rankplace.image %>" >
          <%= render partial:"/plikes/plike",locals: { place: rankplace } %>
          <p class="content content__store"><%= rankplace.name %>
          <p class="content content__address"><%= rankplace.address %>
          <p class="content content__open">営業時間：<%= rankplace.open %> 〜 <%= rankplace.close %>
          <p class="content content__station">最寄り駅：<%= rankplace.station %> <%= rankplace.walk %>
        </div>
      <% end %>
    </div>
    <%# PLACEの人気ランキングゾーンここまで %>
    <%# MUSICの人気ランキングゾーンここから %>
    <div class="main__right__contents">
      <% @rankmusics.each do |rankmusic| %>
        <div class="main__right__content music__show" 
          data-mname="<%= rankmusic.name %>" data-url="<%= rankmusic.url %>" data-artist="<%= rankmusic.artist %>"
          data-playtime="<%= rankmusic.playtime %>" data-mcontent="<%= rankmusic.content %>">
          <div class="youtube content__movie">
            <iframe data-src="<%= rankmusic.url %>"></iframe>
          </div>
          <div class="mshow">
            <p class="content content__title"><%= rankmusic.name %>
            <p class="content content__artist">アーティスト：<%= rankmusic.artist %>
            <p class="content content__playtime">再生時間：<%= rankmusic.playtime %>
          </div>
        </div>
      <% end %>
    </div>
    <%# MUSICの人気ランキングゾーンここまで %>
  </div>
<%# 人気ランキング的なものにしたいゾーンここまで %>
<%# main__rightの記述ここまで %>
</div>
<%# メインコンテンツコーナー終了 %>


<script>
// 投稿機能モーダルここから
$(function(){
  //クリックするとPLACE用投稿モーダルを表示させる記述(form_withのactionを架空の/placesにし、route.rbにてcreateアクションを発火させている)
  $('.open-place').click(function(){
    $("body").append(`  <div class="modal">
                          <div class="modal__cssplace">
                            <div class="pclose pclose__1">×</div>
                            <div class="pclose pclose__2">×</div>
                            <div class="pclose pclose__3">×</div>
                            <div class="pclose pclose__4">×</div>
                            <div class="new-post">新規投稿(PLACE)<br></div>
                            <div class="modal-form">
                              <%= form_with(model: @place,action:"/places/new",local: true,class: :new_place) do |form| %>
                                <%= form.label :name, "店の名前" %><span style="color:red">※</span>
                                <%= form.text_field :name, placeholder:"店名を入力",class: :form_control %><br>
                                <%= form.label :address, "店の住所" %><span style="color:red">※</span>
                                <%= form.text_field :address, placeholder:"住所を入力", class: :form_control %><br>
                                <%= form.label :number, "電話番号" %><span style="color:red">※</span>
                                <%= form.text_field :number, placeholder:"XXX-XXXX-XXXX",class: :form_control %><br>
                                <%= form.label :station, "最寄り駅" %><span style="color:red">※</span>
                                <%= form.text_field :station, placeholder:"○○線☓☓駅△△口", class: :form_control_middle %>
                                <%= form.label :walk, "徒歩" %>
                                <%= form.text_field :walk, placeholder:"徒歩○○分", class: :form_control_short %><br>
                                <%= form.label :open, "開店時間" %><span style="color:red">※</span>
                                <%= form.text_field :open, placeholder:"hh:mm",class: :form_control_short %>
                                <%= form.label :close, "閉店時間" %><span style="color:red">※</span>
                                <%= form.text_field :close, placeholder:"hh:mm",class: :form_control_short %>
                                <%= form.label :sheet, "席数" %>
                                <%= form.text_field :sheet, placeholder:"数字のみ",class: :form_control_short %><br>
                                <%= form.label :image, "店舗写真" %>
                                <%= form.text_field :image, placeholder:"イメージ写真(URL)入力", class: :form_control %><br>
                                <div class="field">
                                <p>店の特徴にチェック</p>
                                  <div class="checkbox">
                                  <%= form.collection_check_boxes(:ptag_ids, Ptag.all, :id, :name) do |ptag| %>
                                    <%= ptag.label do %>
                                      <%= ptag.check_box %>
                                      <%= ptag.text %>
                                    <% end %>
                                  <% end %>
                                  </div>
                                </div>
                                <%= form.label :content, "店舗詳細" ,class: :content_title %>
                                <%= form.text_area :content, placeholder:"情報を入力(Wi-Fi制限有りなど)" ,rows:"3", class: :form_control_area %> <br>
                                <%= form.submit "送信", id: "psubmit-btn" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <div class="overlay"></div> `);
    $(".modal,.overlay").fadeIn("slow");
    //モーダルを表示させる記述ここまで
    //モーダルを消す記述
      $(".close,.overlay,#submit-btn").click(function(){
      $(".modal,.overlay").fadeOut("slow",function(){
        $(".modal,.overlay").remove();
        });
      });
    });
    //モーダルを消す記述ここまで

  $('.open-music').click(function(){
    //クリックするとMUSIC用投稿モーダルを表示させる記述(form_withのactionを架空の/musicsにし、route.rbにてcreateアクションを発火させている)
  $("body").append(` <div class="modal">
                      <div class="modal__cssmusic">
                      <div class="mclose mclose__1">×</div>
                      <div class="mclose mclose__2">×</div>
                      <div class="mclose mclose__3">×</div>
                      <div class="mclose mclose__4">×</div>
                        <div class="new-post">新規投稿(MUSIC)<br></div>
                        <div class="modal-form">
                          <%= form_with(model: @music,action:"/musics/new",local: true) do |form| %>
                            <%= form.label :url, "紹介動画" %><span style="color:red">※</span>
                            <%= form.text_field :url, placeholder:"YouTubeのURLを入力", class: :form_control %><br>
                            <%= form.label :name ,"タイトル" %><span style="color:red">※</span>
                            <%= form.text_field :name, placeholder:"楽曲(動画)のタイトルを入力",class: :form_control %><br>
                            <%= form.label :artist ,"アーティスト" %><span style="color:red">※</span>
                            <%= form.text_field :artist, placeholder:"アーティスト名を入力", class: :form_control %><br>
                            <%= form.label :playtime ,"再生時間" %>
                            <%= form.text_field :playtime, placeholder:"再生時間を入力(hh:mm:ss)", class: :form_control %><br>
                            <%= form.label :content ,"動画詳細" %>
                            <%= form.text_area :content, placeholder:"動画の情報を入力" ,rows:"2", class: :form_control_area %> <br>
                            <%= form.submit "送信する", id: "msubmit-btn" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="overlay"></div>`);
  $(".modal,.overlay").fadeIn("slow");
  $(".close,.overlay").click(function(){
    $(".modal,.overlay").fadeOut("slow",function(){
    $(".modal,.overlay").remove();
      });
    });
  });
//投稿機能モーダルここまで

//編集機能モーダルここから
//PLACE編
$('#edit-place').click(function(){
  $(".modal").fadeOut("slow");
  $(".modal").remove();
  $("body").append(`  <div class="modal">
                        <div class="modal__css">
                          <div class="pclose pclose__1">×</div>
                          <div class="pclose pclose__2">×</div>
                          <div class="pclose pclose__3">×</div>
                          <div class="pclose pclose__4">×</div>
                          <div class="new-post">新規投稿(PLACE)<br></div>
                          <div class="modal-form">
                            <%= form_with(model: @place,action:"/places/edit",local: true,class: :new_place) do |form| %>
                              <%= form.label :name, "店の名前" %><span style="color:red">※</span>
                              <%= form.text_field :name, placeholder:"店名を入力",class: :form_control %><br>
                              <%= form.label :address, "店の住所" %><span style="color:red">※</span>
                              <%= form.text_field :address, placeholder:"住所を入力", class: :form_control %><br>
                              <%= form.label :number, "電話番号" %><span style="color:red">※</span>
                              <%= form.text_field :number, placeholder:"XXX-XXXX-XXXX",class: :form_control %><br>
                              <%= form.label :station, "最寄り駅" %><span style="color:red">※</span>
                              <%= form.text_field :station, placeholder:"○○線☓☓駅△△口", class: :form_control_middle %>
                              <%= form.label :walk, "徒歩" %>
                              <%= form.text_field :walk, placeholder:"徒歩○○分", class: :form_control_short %><br>
                              <%= form.label :open, "開店時間" %><span style="color:red">※</span>
                              <%= form.text_field :open, placeholder:"hh:mm",class: :form_control_short %>
                              <%= form.label :close, "閉店時間" %><span style="color:red">※</span>
                              <%= form.text_field :close, placeholder:"hh:mm",class: :form_control_short %>
                              <%= form.label :sheet, "席数" %>
                              <%= form.text_field :sheet, placeholder:"数字のみ",class: :form_control_short %><br>
                              <%= form.label :image, "店舗写真" %>
                              <%= form.text_field :image, placeholder:"イメージ写真(URL)入力", class: :form_control %><br>
                              <div class="field">
                              <p>店の特徴にチェック</p>
                                <div class="checkbox">
                                <%= form.collection_check_boxes(:ptag_ids, Ptag.all, :id, :name) do |ptag| %>
                                  <%= ptag.label do %>
                                    <%= ptag.check_box %>
                                    <%= ptag.text %>
                                  <% end %>
                                <% end %>
                                </div>
                              </div>
                              <%= form.label :content, "店舗詳細" ,class: :content_title %>
                              <%= form.text_area :content, placeholder:"情報を入力(Wi-Fi制限有りなど)" ,rows:"3", class: :form_control_area %> <br>
                              <%= form.submit "送信", id: "psubmit-btn" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <div class="overlay"></div>`);
    $(".modal").fadeIn("slow");
    //モーダルを表示させる記述ここまで
    //モーダルを消す記述
    $(".close,.overlay,#submit-btn").click(function(){
      $(".modal,.overlay").fadeOut("slow",function(){
        $(".modal,.overlay").remove();
        });
      });
    //モーダルを消す記述ここまで
      });
    //編集機能モーダルここから
    //Music編
  });
</script>