<!DOCTYPE html>
<html>
  <head>
    <title>Replace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  </head>

  <body>
    <div class="modal-fixed">
      <div class="header">
        <div class="top">
        <p>学習や仕事が捗りそうな、場所と音楽を紹介しています</p>
        </div>
        <div class="top__content">
          <div class="top__content__left">
            <a href="/">Replace</a>
          </div>
          <div class="top__content__right">
            <div class="top__content__right__icon nav-item">
            <%= link_to "about", root_path %>
            </div>
            <% if user_signed_in? %>
              <%= link_to "#{current_user.nickname}", root_path, class:"top__content__right__icon nav-item" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"top__content__right__icon nav-item" %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path, class:"sign-up top__content__right__icon nav-item" %>
              <%= link_to "ログイン", new_user_session_path , class:"sign-in top__content__right__icon nav-item" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer>
      <div class="footer__content">
        <p>ここはフッターになる場所やで
      </div>
    </footer>
  </body>
</html>